# PYTHON SIMPLE PROGRAM

In [6]:
a="hello world"
a=a.lower()
print(a)

hello world

In [7]:
a="hello to python world "
a=a.upper()
print(a)

HELLO TO PYTHON WORLD

In [7]:
a="hello world"
a=a.upper()
print(a)

HELLO WORLD

In [1]:
tuple=(21,34,56)
print(tuple[0])

21

In [2]:
tuple=(12,32,"google")
print(tuple[2][1])

o

In [4]:
A = '12'
B = A +'1'
C= int(A) + int(B)
print(C)

133

# list

In [6]:
List=[2,3.4,"alisha",5]
print(List)

[2, 3.4, 'alisha', 5]

In [8]:
#to print the i from the list
print(List[2][2])

i

In [9]:
#to print the last element of the list
#here the first element of list is in index 0 and the last element is in index 4 or -1
print(List[-1])

5

In [10]:
#here we add 20 to the 0th index of the list and print it.
List[0]=20 
print(List)

[20, 3.4, 'alisha', 5]

In [14]:
List=[6,7,8,9,10] 
print(List) 
List[0]=10
print(List) 
List[1]=7 
print(List)

[6, 7, 8, 9, 10]
[10, 7, 8, 9, 10]
[10, 7, 8, 9, 10]

In [3]:
## List
example_list = [2, 3, 4, 5]
print('A list:', example_list)
print('First element of list:', example_list[0])
example_list.append(12)
print('Appended list:', example_list)
example_list[0] = 45
print('Modified list:', example_list)

A list: [2, 3, 4, 5]
First element of list: 2
Appended list: [2, 3, 4, 5, 12]
Modified list: [45, 3, 4, 5, 12]

In [15]:
my_list=['E','F','G','H']
for element in my_list:
    print("The element in list is:",element)

The element in list is: E
The element in list is: F
The element in list is: G
The element in list is: H

In [15]:
my_list = [1, 2, 3, 4] 
your_list = [4, 3, 2, 1] 
his_list = [1, 2, 3, 4]
print(my_list == your_list) 
print(my_list == his_list)
my_dict = {1:7, 2:2, 3:3, 4:4} 
your_dict = {4:4, 3:3, 2:2, 1:1}
print(my_dict == your_dict)

False
True
False

In [16]:
for num in [1,2,3,4,5]:
    print(num**2)

for num in 'python':
    print(num)

1
4
9
16
25
p
y
t
h
o
n

# loop programm

In [14]:
li=[1,2,3,4,5,6]
j=0
for i in li:
    print("outer loop")
    for i in li:
        print("inner loop")
        j=j+1
        if j>20:
            break
    print(j)
print(j)

outer loop
inner loop
inner loop
inner loop
inner loop
inner loop
inner loop
6
outer loop
inner loop
inner loop
inner loop
inner loop
inner loop
inner loop
12
outer loop
inner loop
inner loop
inner loop
inner loop
inner loop
inner loop
18
outer loop
inner loop
inner loop
inner loop
21
outer loop
inner loop
22
outer loop
inner loop
23
23

In [4]:
for letter in 'python':
    if letter == 'h':
        break
    print('current variable value :',letter)
    
var = 10
while var > 0:
    print ('current variable value :',var)
    var = var -1
    if var == 5:
        break

print('good bye!')

current variable value : p
current variable value : y
current variable value : t
current variable value : 10
current variable value : 9
current variable value : 8
current variable value : 7
current variable value : 6
good bye!

In [18]:
a=(1,2,3)
print(id(a))
b=(4,5,6)
print(id(b))
print(id(a))
print(id(b))

2988848829952
2988848386176
2988848829952
2988848386176

In [21]:
a=[1,True,'Hello',[1,2,3],(5,6,'how r u',[7,8,'fine'],('hi',5,False))]
a

[1,
 True,
 'Hello',
 [1, 2, 3],
 (5, 6, 'how r u', [7, 8, 'fine'], ('hi', 5, False))]

In [22]:
a[4][3][2][2]

'n'

In [1]:
name='hel"lo' 
print(name)
print(id(name))

hel"lo
1858422414192

In [2]:
name='hel"lo' 
print(name)

hel"lo

In [43]:
n = 1
num= int(input('Enter the Nunber'))
while n<= num :
    print(n)
    n+=1

Enter the Nunber12
1
2
3
4
5
6
7
8
9
10
11
12

In [48]:
z=[9, 41, 12, 3, 74, 15]
for value in z :
    if value >70: 
        print('Large number',value)

Large number 74

# string

In [1]:
fruit='APPLE'
x=fruit.lower()
print(x)

apple

In [17]:
# string is mutable
fruit = 'Banana'
#fruit[0] = 'b'

In [2]:
x = fruit.lower()
print(x)

apple

In [3]:
x = fruit.upper()
print(x)

APPLE

In [41]:
#here it the address of the fruit
id(fruit)

1416820799856

In [42]:
#here it is the address of x
id(x)

1416820818032

In [20]:
## String - immutable, tuple of characters
string = "ABCDEFGH"
print('Here is a string:', text)
print('First character:', text[2])
print('Number of characters in list', len(string))

Here is a string: ABCDEFGH
First character: C
Number of characters in list 8

In [13]:
s1 = "Hello" 
s2 = 'World'
s1 = s1 + s2
s1 = s1 + ' hi'
print(s1)

HelloWorld hi

In [12]:
'Hello' * 3

'HelloHelloHello'

#  tuple

In [18]:
tuple = ['spam' , 'eggs' , 100 , 1234 , 2*2]
print(tuple)

['spam', 'eggs', 100, 1234, 4]

In [19]:
tuple[2]=tuple[2]+23
print(tuple)

['spam', 'eggs', 123, 1234, 4]

In [22]:
#here we added the list to yhe tuple.
list=[1, 2, 'howru', 4, 5]
tuple=(1,2,'hi',List)
print(tuple)

(1, 2, 'hi', [20, 2, 'howru', 4, 5])

In [23]:
#here we print the i from tne tuple.
print(tuple[2][1])

i

In [1]:
## Tuple - immutable
example_tuple = (2, 3, 4, 5)
print('A tuple:', example_tuple)
print('First element of tuple:', example_tuple[0])

A tuple: (2, 3, 4, 5)
First element of tuple: 2

# dictionary

In [1]:
#to print the r
d1={"flag":["red","white","blue",("hi",[1,2,'how r u'])]}
print(d1["flag"][3][1][2][4])

r

In [22]:
#to print only n
d1={"flag":["d","h","e",("hi",[1,{1:['Happy new{year: thank you}']},2,'hou'])]}
print(d1["flag"][3][1][1][1][0][19])

n

In [10]:
d1={"flag":["d","h","e",("hi",[1,{1:['Happy new{year: thank you}']},2,'hou'])]}
print(d1['flag'][-1][-1][-3][1][-1][-8]) #a

a

In [32]:
print(d1["flag"][-1][-1][-3][1][0][-7])

n

In [1]:
#for p
A={(1,2,3):1, 2:[1,5,'hi', (3,5,'good')],'a':3, 5:4}
#print(A)
print(A[2][3][2][1:3])

oo

In [5]:
print(A[2][3][2][0])

g

In [33]:
#here we print the u from the dictionary
d = {"age":43, ("hello","world"):1, "flag": ["red","white","blue"]}
print(d['flag'][2][2])

u

In [6]:
d = { "foo" : 1, "bar" : 2,"brand" : ['maruti', 'toyota','hyundai','honda'] }
print(d["brand"][2])

hyundai

In [7]:
print(d["brand"][2][3]) #n

n

In [8]:
d1={"flag": ["red","white","blue",("hi",[1,2,'how r u'])]}
print(d1['flag'][3][1][2][4])  #r from [1,2,'how r u']

r

In [16]:
my_dict = {1:7, 2:2, 3:3, 4:4} 
your_dict = {4:4, 3:3, 2:2, 1:1}
print(my_dict == your_dict)

False

In [17]:
## Dictionary
example_dictionary = {"A": "APPLE", 
                      "B": "BALL", 
                      "C": "CAT", 
                      "D": "DOLL"}
print('A dictionary:', example_dictionary)
print('Value associated to key C:', example_dictionary['C'])

A dictionary: {'A': 'APPLE', 'B': 'BALL', 'C': 'CAT', 'D': 'DOLL'}
Value associated to key C: CAT

# set

In [5]:
## Set - unique unordered elements
example_set = set([1,2,2,2,2,4,5,6,6,6])
print('A set:', example_set)

A set: {1, 2, 4, 5, 6}

# function

In [5]:
def name():
    print("hlw")
    print("my name is alisha ")
    print("i am student of bsc itm")
name()

hlw
my name is alisha
i am student of bsc itm

# function

In [2]:
def function(x,y):
    return x+y
sum=function(3,4)
print(sum)

7